project_id = "srkadryziusimejwvdik"

[functions.generate-pdf]
verify_jwt = false

[functions.send-notification]
verify_jwt = false

[functions.payment-reminder]
verify_jwt = false

[functions.send-email]
verify_jwt = false

[functions.create-payment]
verify_jwt = false
