project_id = "srkadryziusimejwvdik"

[functions.generate-pdf]
verify_jwt = true

[functions.send-notification]
verify_jwt = true

[functions.payment-reminder]
verify_jwt = true

[functions.send-email]
verify_jwt = true

[functions.create-payment]
verify_jwt = true

[functions.stripe-webhook]
verify_jwt = false

[functions.create-subscription-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true

[functions.subscription-webhook]
verify_jwt = false

[functions.revenuecat-webhook]
verify_jwt = false
